@import './variable';

body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  align-items: center;
  padding: 0.5rem 2.5rem;
  justify-content: space-between;
  background-color: $white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;

  .logo {
    width: 40%;

    @include tablet {
      width: 60%;
    }
  }

  nav {
    width: 50%;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      list-style: none;

      .withCaret {
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        transition: all 400ms ease;

        &:hover {
          color: $lightBlue;
        }
      }

      a {
        text-decoration: none;
        text-transform: capitalize;
        color: $black;
        font-weight: 400;
        font-size: 15px;
        transition: all 400ms ease;

        &:hover {
          color: $lightBlue;
        }
      }

      .administration {
        position: relative;
        height: 4rem;

        &:hover {
          span {
            display: block;
          }
        }
        span {
          position: absolute;
          width: 220%;
          background-color: $white;
          top: 100%;
          right: 0%;
          animation: slideUp 500ms ease;
          display: none;
          ul {
            box-shadow: $box-shadow;
            display: flex;
            flex-direction: column;
            align-items: start;
            // gap: 20px;

            li {
              padding: 20px;
              width: 100%;
              text-align: start;
              border-bottom: 2px solid $gray;
              display: flex;
              gap: 20px;
              line-height: 30px;

              &:hover {
                background-color: $gray;
              }
            }

            &::after {
              content: '';
              position: absolute;
              width: 20px;
              height: 20px;
              background-color: $lightBlue;
              top: 0;
              right: 0;
              transform: translateY(-98%);
              clip-path: polygon(100% 0, 0% 100%, 100% 100%);
            }
          }
        }
      }

      .faculty {
        span {
          width: 500%;
        }
      }
    }

    @include tablet {
      display: none;
    }
  }

  .info {
    @include tablet {
      width: 15%;
    }
    .fa-info-circle {
      background-color: #eee;
      padding: 13px 15px;
      color: $primaryColor;
      font-size: 1.2rem;
      cursor: pointer;
      position: relative;

      &:hover {
        background-color: $primaryColor;
        color: $white;
      }
    }
  }
  .menuBtn {
    flex-direction: column;
    gap: 5px;
    display: none;
    justify-self: end;

    @include tablet {
      width: 10%;
    }

    span {
      background-color: $primaryColor;
      width: 30px;
      height: 2px;

      &:nth-child(2) {
        width: 25px;
      }
      &:nth-child(3) {
        width: 20px;
      }
    }

    @include tablet {
      display: flex;
    }
  }

  .menuBtn.active {
    span {
      &:nth-child(1) {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        width: 30px;
        transform: rotate(-45deg) translate(5px, -5px);
      }
      &:nth-child(3) {
        display: none;
      }
    }
  }

  @include tablet {
    padding: 1rem 2rem;
  }
}

.contact {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 30%;
  background-color: $white;
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  padding-top: 3rem;
  display: none;

  @include tablet {
    width: 60%;
  }

  @include mobile {
    width: 90%;
  }

  .fa-times {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
    cursor: pointer;

    &:hover {
      scale: 1.2;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    gap: 1rem;

    i {
      font-size: 1.5rem;
      background-color: #eee;
      padding: 13px 15px;
      // margin-bottom: 0.5rem;

      &:hover {
        background-color: $primaryColor;
        cursor: pointer;
        color: $white;
      }
    }
    h3 {
      text-transform: capitalize;
    }
  }

  .share {
    display: flex;
    gap: 0.5rem;

    a {
      text-decoration: none;
      font-size: 1.3rem;
      background-color: #eee;
      padding: 13px 15px;
      margin-bottom: 0.5rem;
      color: $primaryColor;

      &:hover {
        background-color: $primaryColor;
        cursor: pointer;
        color: $white;
      }
    }
  }

  .line {
    width: 90%;
    height: 2px;
    background: $gray;
  }
}

.contact.open {
  display: flex;
  animation: 500ms contactFade linear;
}

header.active {
  box-shadow: $box-shadow;
}

nav ul a.active {
  color: $lightBlue;
  border-bottom: 4px solid $lightBlue;
  padding-bottom: 5px;
}

.ham__menu {
  position: fixed;
  overflow: hidden;
  inset: 0;
  z-index: 1000;
  top: 6rem;
  background-color: $white;
  display: none;
  justify-content: center;
  padding: 2rem;
  padding-top: 4rem;

  div {
    & > ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: start;
      list-style: none;

      a {
        text-decoration: none;
        text-transform: capitalize;
        color: $primaryColor;
        font-weight: 400;
        font-size: 15px;
        transition: all 400ms ease;

        &:hover {
          color: $lightBlue;
        }
      }

      .withCaret {
        .fa {
          color: $primaryAccent;
        }
        span {
          display: block;
          margin-left: 2rem;
          margin-top: 10px;
          height: 0px;
          overflow: hidden;

          ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: 15px;
            overflow: hidden;

            li {
              display: flex;
              gap: 10px;
              align-items: center;

              a {
                font-size: 14px;
                line-height: 20px;
              }
              i {
                color: $primaryAccent;
              }
            }
          }
        }
      }
    }
  }
}

.ham__menu.open {
  display: flex;
}

.ham__menu div > ul .withCaret.open span {
  height: auto;
  overflow: auto;
}

.back_to_top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: $lightBlue;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transform: translateY(250%);
  transition: transform 300ms ease-in;
  z-index: 100;

  i {
    color: $white;
    font-size: 20px;
  }
}

.home_body {
  .body {
    padding-top: 6rem;
  }

  .hero {
    width: 100%;
    padding: 0;

    .slide {
      min-height: 30rem;
      display: flex;
      align-items: center;
      position: relative;
      background-size: cover !important;
      background-position: center !important;
      justify-content: center;
      background-blend-mode: overlay;

      &::before {
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, $gray, transparent);
        position: absolute;
      }

      .content {
        width: 80%;
        position: relative;
        text-align: center;
        color: $black;
        display: flex;
        align-items: center;
        flex-direction: column;

        @include mobile {
          width: 100%;
        }

        h3 {
          font-size: 3rem;
          color: $primaryColor;
          text-transform: uppercase;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);

          @include tablet {
            font-size: 1.3rem;
          }
        }

        p {
          color: $darkGray;
          line-height: 1.8;
          padding-block: 1rem;
          width: 60%;
          font-size: 17px;

          @include tablet {
            font-size: 14px;
            width: 100%;
            line-height: 1.7;
            padding-top: 1rem;
          }
        }

        .btn {
          padding: 20px;
          text-decoration: none;
          color: $white;
          text-transform: capitalize;
          font-size: 1.4rem;
          margin-top: 1.5rem;
          background-color: $primaryColor;
          word-spacing: 0.6rem;

          &:hover {
            background-color: $white;
            color: $lightBlue;
          }

          @include mobile {
            padding: 15px;
            font-size: 15px;
            word-spacing: 0.4rem;
          }

          @include tablet {
            width: auto;
          }
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      top: initial;
      bottom: 0;
      left: initial;
      right: 0;
      height: 4rem;
      width: 4rem;
      line-height: 4rem;
      font-size: 3rem;
      color: $white;
      background-color: $primaryColor;
      font-weight: bolder;

      &:hover {
        background-color: $white;
        color: $lightBlue;
      }
      &::after {
        color: var(--black);
        font-size: 1.3rem;
      }

      @include mobile {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;
      }
    }
    .swiper-button-prev {
      right: 4.1rem;

      @include mobile {
        right: 3.1rem;
      }
    }
  }

  .part2 {
    padding: 5rem 3rem;

    @include tablet {
      padding: 5rem 1.5rem;
    }

    .mission {
      display: flex;
      gap: 2rem;
      align-items: stretch;

      @include tablet {
        flex-direction: column;
      }

      & > div {
        background-color: $gray;
        padding: 1.5rem;
        border-radius: 15px;
        width: 50%;

        @include tablet {
          width: 100%;
        }

        .top_img {
          background-color: $lightBlue;
          color: $white;
          align-self: flex-start;
          width: 18%;
          padding: 16px;
          display: grid;
          place-items: center;
          border-top-left-radius: 20px;
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;

          i {
            font-size: 1.5rem;
          }
        }

        h3 {
          padding-top: 1.3rem;
          padding-bottom: 0.7rem;
          text-transform: capitalize;
          color: $primaryColor;
          font-size: 1.5rem;
          font-weight: 500;
        }

        p {
          color: $text;
          line-height: 1.6;
          font-size: 16px;
          padding-bottom: 1rem;
        }
      }
    }

    .about {
      padding-top: 7rem;

      h3 {
        text-transform: capitalize;
        color: $primaryColor;
        font-weight: 500;
        font-size: 2.5rem;
        padding-bottom: 3rem;

        @include tablet {
          font-size: 2rem;
        }
      }

      & > div {
        display: flex;
        align-items: start;
        gap: 5rem;
        justify-content: space-between;

        @include tablet {
          flex-direction: column-reverse;
        }

        .describe {
          width: 60%;
          display: flex;
          flex-direction: column;
          gap: 3rem;

          @include tablet {
            width: 100%;
            gap: 1.5rem;
          }

          p {
            color: $text;
            font-size: 18px;
            line-height: 2;
          }

          .btn {
            text-decoration: none;
            padding: 20px;
            align-self: start;
            text-align: center;
            color: $primaryColor;
            text-transform: capitalize;
            font-size: 1.4rem;
            margin-top: 1.5rem;
            border: 2px solid $primaryColor;
            background-color: $white;

            &:hover {
              scale: 1.06;
            }
          }
        }

        .video {
          width: 40%;
          position: relative;
          margin-inline: auto;

          @include tablet {
            width: 100%;
          }

          iframe {
            width: 100%;
            @include tablet {
              width: 320px;
              height: 200px;
            }
          }
          &::before {
            content: '';
            position: absolute;
            inset: 0;
            border: 2px solid $primaryColor;
            z-index: -1;
            transform: translate(15px, 15px);

            @include tablet {
              width: 320px;
              height: 200px;
            }
          }
        }
      }
    }
  }

  .faculties {
    padding: 5rem;
    padding-bottom: 2rem;
    background-color: $primaryColor;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      padding: 1.5rem;
    }

    h3 {
      text-transform: uppercase;
      color: $white;
      font-weight: 500;
      font-size: 2.5rem;
      padding-bottom: 3rem;
      text-align: center;

      @include tablet {
        font-size: 1.4rem;
      }
    }

    .fac {
      display: flex;
      align-items: stretch;
      justify-content: center;
      gap: 4rem;

      @include tablet {
        flex-direction: column;
        gap: 0rem;
        padding-left: 2rem;
      }

      & > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        color: $white;
        gap: 2rem;
        width: 50%;

        @include tablet {
          justify-content: start;
          align-items: start;
          width: 100%;
        }

        .icon {
          color: $lightBlue;
          background-color: $white;
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
          display: grid;
          place-items: center;
          font-size: 1.5em;
          align-self: flex-start;
          // padding-left: 1rem;
        }
        ul {
          list-style: none;

          li {
            line-height: 2;
            font-size: 16px;
            position: relative;

            &::before {
              position: absolute;
              left: -2.3rem;
              font-family: 'Font Awesome 5 Free';
              content: '\f178';
              font-weight: 900;
            }
          }
        }
      }

      // .fac1 {
      //   margin-top: 3rem;
      // }

      // .fac2 {
      //   margin-top: -7rem;
      // }
    }
  }

  .attraction {
    background: $light-bg;
    padding: 3rem 5%;

    h3 {
      text-transform: uppercase;
      color: $primaryColor;
      font-weight: 500;
      font-size: 2.5rem;
      padding-bottom: 3rem;
      text-align: center;

      @include tablet {
        font-size: 1.5rem;
      }
    }

    .box-container {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      gap: 2rem;

      .box {
        text-align: center;
        padding: 2rem;
        background-color: $white;
        box-shadow: $box-shadow;
        border: $border;
        cursor: pointer;

        i {
          font-size: 2rem;
          color: $lightBlue;
          margin-bottom: 0.3rem;
          transition: all 500ms ease;
        }

        h3 {
          font-size: 1.2rem;
          color: $primaryColor;
          text-transform: uppercase;
          padding-block: 0.8rem;
          padding-bottom: 1rem;
        }

        p {
          font-size: 14px;
          color: $text;
          line-height: 1.7;
        }
      }
    }
  }

  .offer {
    padding: 3rem 5%;

    h3 {
      text-transform: uppercase;
      color: $primaryColor;
      font-weight: 500;
      font-size: 2.5rem;
      padding-bottom: 3rem;
      text-align: center;

      @include tablet {
        font-size: 1.4rem;
      }
    }

    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      @include tablet {
        flex-wrap: wrap;
      }

      & > div {
        background-color: $light-bg;
        width: 100%;
        text-align: center;
        padding: 3rem 2rem;
        font-size: 1.3rem;
        text-transform: capitalize;
        color: $primaryColor;

        @include tablet {
          width: 45%;
        }
        @include mobile {
          width: 100%;
        }
      }
    }
  }

  /* blog */
  .blog {
    // background-color: $gray;
    padding: 3rem 5%;

    h1 {
      text-transform: uppercase;
      color: $primaryColor;
      font-weight: 500;
      font-size: 2.5rem;
      padding-bottom: 3rem;
      text-align: center;

      @include tablet {
        font-size: 1.4rem;
      }
    }

    .slide {
      text-align: center;
      margin: 2rem 0;

      &:hover .image img {
        transform: scale(1.1);
      }

      .image {
        height: 16rem;
        width: 90%;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: -3rem;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .content {
      padding: 1rem;
      padding-top: 5rem;
      background-color: $white;
      height: 250px;
      box-shadow: $box-shadow;

      h3 {
        font-size: 1rem;
        color: $primaryColor;
        text-transform: capitalize;
        line-height: 25px;
      }

      .date_stamp {
        position: absolute;
        bottom: 3.3rem;
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        width: 100%;
        right: 0;
        left: 0;
        color: $primaryAccent;

        div {
          display: flex;
          align-items: center;
          gap: 5px;
        }
      }

      a {
        text-decoration: underline;
        color: $primaryAccent;
        text-transform: capitalize;
        position: absolute;
        bottom: 20px;
        right: 0;
        left: 0;
      }
    }
  }
}

footer {
  background-color: $primaryColor;
  padding: 5em 2.5em;
  padding-bottom: 3em;
  padding-right: 10rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  @include tablet {
    padding-right: 2.5rem;
  }

  .box_one {
    display: flex;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      gap: 2rem;
    }

    & > div {
      color: $white;

      h4 {
        text-transform: capitalize;
        font-size: 1.3rem;
        letter-spacing: 0.7px;
        font-weight: normal;
        margin-bottom: 1.7rem;
      }

      ul {
        list-style: none;
        padding-left: 1.5rem;

        li {
          font-size: 1rem;
          font-weight: normal;
          text-transform: capitalize;
          letter-spacing: 0.5px;
          margin-block: 0.7em;
          cursor: pointer;
          position: relative;

          &::before {
            position: absolute;
            left: -1.5rem;
            font-family: 'Font Awesome 5 Free';
            content: '\f105';
            font-weight: 900;
          }

          &:hover {
            color: $lightBlue;
            transform: scaleX(1.1);
            transform-origin: left center;
          }
        }
      }
    }
  }

  .box_two {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet {
      flex-direction: column;
      align-items: start;
      justify-content: start;
      gap: 2rem;
    }

    p {
      color: $lightBlue;
      font-weight: 400;
      font-size: 1.2rem;
    }

    .icons {
      display: flex;
      gap: 1rem;
      a {
        color: $lightBlue;
        text-decoration: none;
        font-size: 30px;

        &:hover {
          color: $white;
        }
      }
    }
  }
}

.attraction .box:hover i {
  transform: translateY(-1rem);
  cursor: pointer;
}

.back_to_top.active {
  transform: translateY(0);
}

.founder_body {
  padding: 7rem 3rem;

  @include tablet {
    padding: 7rem 1.5rem;
  }
  p {
    color: $text;
    width: 80%;
    font-size: 17px;
    line-height: 28px;
    margin-top: 2rem;

    @include tablet {
      width: 100%;
      margin-top: 1rem;
      font-size: 16px;
      line-height: 25px;
      text-align: center;
    }
  }

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 8rem;

    @include tablet {
      flex-direction: column;
      gap: 2rem;
    }

    .gallery {
      width: 100%;

      div {
        display: flex;
        justify-content: end;
        position: relative;

        @include tablet {
          justify-content: start;
        }
        img {
          width: 75%;

          @include tablet {
            width: 95%;
          }
        }

        &::before {
          content: '';
          position: absolute;
          width: 75%;
          right: 0;
          top: 0;
          bottom: 0;
          border: 2px solid $primaryColor;
          z-index: -1;
          transform: translate(15px, 15px);

          @include tablet {
            inset: 0;
            width: 95%;
          }
        }
      }
    }

    .title {
      width: 100%;

      h1 {
        color: $primaryColor;
        font-size: 2.5rem;
        color: $primaryColor;
        text-transform: capitalize;
        line-height: 0.7;

        @include tablet {
          font-size: 35px;
          line-height: 45px;
          text-align: center;
        }
      }
      span {
        color: $text;
        font-size: 1.25rem;
        font-weight: normal;
        display: block;
        padding-top: 0.8rem;

        @include tablet {
          font-size: 20px;
          text-align: center;
          padding-top: 0.5rem;
        }
      }
    }
  }

  .story {
    margin-top: 4rem;

    p {
      text-align: start;
    }
    h2 {
      color: $primaryColor;
      font-size: 2rem;
      color: $primaryColor;
      text-transform: capitalize;
      line-height: 0.7;

      @include tablet {
        line-height: 1.5;
        text-align: center;
      }
    }

    .box_1 {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;

      @include tablet {
        flex-direction: column-reverse;
      }

      & > * {
        width: 100%;
      }

      .img {
        img {
          width: 80%;
        }

        @include tablet {
          display: flex;
          justify-content: center;
          margin-inline: auto;
          margin-top: 2rem;
          margin-bottom: 1.5rem;
          width: 100%;
        }
      }
    }
  }

  .margin {
    margin-top: 2rem;
  }
}
